<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="Dependency injection unit tests">
            <directory suffix="Test.php">./tests/bundle/DependencyInjection</directory>
        </testsuite>
    </testsuites>
</phpunit>
